<ion-header>
  <ion-toolbar>
    <ion-title>Liste des Vaches</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      placeholder="Rechercher une vache..."
      [(ngModel)]="searchTerm"
      (ionInput)="filterVaches()"
      show-clear-button="focus">
    </ion-searchbar>

    <ion-buttons slot="end">
      <ion-button (click)="startVoiceSearch()">
        <img src="../../../assets/svg/mic.svg" alt="Voice Search" width="24" height="24">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let v of filteredVaches" (click)="goToDetails(v)">
      <ion-label>
        <h2>{{v.numero}}</h2>
        <p>{{v.nom}}</p>
      </ion-label>
      <ion-button fill="outline" color="primary" slot="end" (click)="editVache(v, $event)">Modifier</ion-button>
      <ion-button fill="outline" color="danger" slot="end" (click)="deleteVache(v.id, $event)">Supprimer</ion-button>
    </ion-item>

    <ion-item *ngIf="filteredVaches.length === 0">
      <ion-label>Aucune vache trouvée.</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="goToAddVache()"><img src="assets/svg/add.svg" alt="Voice Search" width="24" height="24"> </ion-button>
      <ion-button (click)="goToHome()"><img src="assets/svg/home.svg" alt="Voice Search" width="24" height="24"></ion-button>
      <ion-button (click)="goToListe()"><img src="assets/svg/list.svg" alt="Voice Search" width="24" height="24"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
