<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter Vache</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Numéro *</ion-label>
    <ion-input [(ngModel)]="vache.numero"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input [(ngModel)]="vache.nom"></ion-input>
  </ion-item>

  <ion-button (click)="takePhoto('photo_avant')">Prendre photo avant</ion-button>
  <ion-button (click)="takePhoto('photo_arriere')">Prendre photo arrière</ion-button>
  <ion-button (click)="takePhoto('photo_cote_gauche')">Prendre photo côté gauche</ion-button>
  <ion-button (click)="takePhoto('photo_cote_droit')">Prendre photo côté droit</ion-button>

  <ion-button expand="full" (click)="save()">Enregistrer Vache</ion-button>
</ion-content>
