<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter Vache</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Numéro *</ion-label>
    <ion-input [(ngModel)]="vache.numero" placeholder="Entrez le numéro"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input [(ngModel)]="vache.nom" placeholder="Entrez le nom"></ion-input>
  </ion-item>

  <div class="pictures-container">
    <span *ngFor="let side of photoSides">
      <ion-button (click)="takePhoto(side)">
        {{ side.replace('photo_', '').replace('_', ' ').toUpperCase() }}
      </ion-button>

      <ion-card *ngIf="vache[side]">
        <img [src]="vache[side]" [alt]="side">
        <ion-card-title>{{ side.replace('photo_', '').replace('_', ' ').toUpperCase() }}</ion-card-title>
        <ion-button color="danger" (click)="removePhoto(side)">Supprimer</ion-button>
      </ion-card>
    </span>
  </div>

  <ion-button expand="full" class="save-btn" (click)="save()">Enregistrer Vache</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button (click)="goToAddVache()"><img src="assets/svg/add.svg" alt="Voice Search" width="24" height="24"> </ion-button>
      <ion-button (click)="goToHome()"><img src="assets/svg/home.svg" alt="Voice Search" width="24" height="24"></ion-button>
      <ion-button (click)="goToListe()"><img src="assets/svg/list.svg" alt="Voice Search" width="24" height="24"></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
